In [3]:
!pip install selenium

Requirement already satisfied: selenium in d:\new folder\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in d:\new folder\lib\site-packages (from selenium) (1.25.11)

In [4]:
#LET REQRURIED LALARARIES
import selenium
import pandas as pd
from selenium import webdriver

In [5]:
# go to link= https://chromedriver.chromium.org/downloads

In [41]:
# lets frist connect to the web drivers
driver= webdriver.Chrome(r"C:\Users\G\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
# spectfying the URL of the webpage to be scraped
url= ("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [43]:
# let open the webpage through our web drivers
driver.get(url)

In [44]:
company_name=[]
number_of_salary=[]
average_salary=[]
min_salary=[]
max_salary=[]

In [45]:
# let extract all the tags having the company name
company_tag= driver.find_elements_by_xpath("//p[@class='m-0 ']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="8425cba7-14ae-4cc8-bf54-0dba7d1c331c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="afe123ff-c0cb-45a9-a1d2-eceba36d6b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="7d6eda82-709f-4400-aac8-2ad238aa1c7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="da0d63cf-1386-43ba-92f2-dcb02bd89cd3")>]

In [48]:
# let extracted comapny name all items for loop
for i in company_tag:
    company=i.text
    company_name.append(company)
company_name[0:4]

['Delhivery', 'Ericsson-Worldwide', 'Accenture', 'Tata Consultancy Services']

In [50]:
# let extract all the tags having the number -of- salary
salary_tag= driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
salary_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="7fe2f27f-0e53-4ddd-8bb2-5fdadd9e74d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="4bcc46a5-5c17-4323-89b2-21bbe734d476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="cb107b7a-516a-45e0-8ed7-eb0d6ea84588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="c02cdc9f-6a7c-47cf-92e0-881a932847d2")>]

In [51]:
# let extracted number of salary all items for loop
for i in salary_tag:
    salary=i.text
    number_of_salary.append(salary)
number_of_salary[0:4]

['13 salaries', '11 salaries', '10 salaries', '9 salaries']

In [ ]:
col-2 d-none d-md-flex flex-row justify-content-end

In [52]:
# let extract all the tags having the average salary
average_tag= driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
average_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="145383ae-cd67-4503-ae59-edd1f2540f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="614d66e8-5a41-4b82-a70a-372962365a1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="17421497-ccc9-4f02-a367-6ba413322e48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="76cb84a5-43e1-4368-9312-76956859191d")>]

In [54]:
# let extracted average salary all items for loop
for i in average_tag:
    average=i.text
    average_salary.append(average)
average_salary[0:4]

['₹ 12,81,419\n/yr', '₹ 7,52,052\n/yr', '₹ 9,98,925\n/yr', '₹ 6,02,000\n/yr']

In [131]:
# let extract all the tags having the min salary
Msalary_tag= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
Msalary_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="8167125d-ac25-41b0-9b37-8376da67ba24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="61070940-0a1e-40a2-b9b3-8edd1408fa5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="59fe5857-d74e-4704-9da2-5036f22798bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a7d94c9e012f68b61386d1db3249585", element="abf4c7c2-79f7-4534-a229-fb20b35299ad")>]

In [132]:
# let extracted average salary all items for loop
for i in Msalary_tag:
    Msalary=i.text
    min_salary.append(Msalary)
min_salary[0:5]

['Low', 'High', 'Low', 'High', 'Low']

In [129]:
print(len(company_name),
len(number_of_salary),
len(average_salary),
len(min_salary))

60 20 20 326

In [133]:
import pandas as pd
jobs= pd.DataFrame({})
jobs['company']=company_name[0:10]
jobs['salary']=number_of_salary[0:10]
jobs['average']=average_salary[0:10]
jobs['Msalary']=min_salary[0:10]
jobs

                          company       salary           average Msalary
0                       Delhivery  13 salaries  ₹ 12,81,419\n/yr     Low
1              Ericsson-Worldwide  11 salaries   ₹ 7,52,052\n/yr    High
2                       Accenture  10 salaries   ₹ 9,98,925\n/yr     Low
3       Tata Consultancy Services   9 salaries   ₹ 6,02,000\n/yr    High
4                             IBM   9 salaries   ₹ 7,71,657\n/yr     Low
5              UnitedHealth Group   8 salaries  ₹ 12,22,902\n/yr    High
6              Valiance Solutions   8 salaries   ₹ 7,91,015\n/yr     Low
7                      Innovaccer   7 salaries  ₹ 12,15,138\n/yr    High
8  Cognizant Technology Solutions   6 salaries  ₹ 10,21,889\n/yr     Low
9                   ZS Associates   5 salaries  ₹ 10,00,000\n/yr    High